<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/t_500x300.abf5001e.jpg"
    />

    <title class="font-ubuntu">Branch-Approval &bull; AICTE</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body class="font-ubuntu">
    <!-- Header -->
    <header class="p-3 bg-slate-200">
      <img src="../static/aicte.1017085a.png" alt="" class="" />
    </header>
    <div
      class="flex text-gray-600 space-y-3 m:space-y-3 px-5 py-24 m:flex-row flex-col"
    >
      <!-- Card 1 -->
      <div
        class="border-2 w-[90%] x:w-[16rem] text-bas active:bg-slate-200 m:w-1/4 border-gray-200 border-opacity-60 rounded-lg overflow-hidden bg-orange-600 px-6 py-3 mx-auto"
      >
        <a
          href="./nbaNewBranch.html"
          class="flex space-x-3 x:text-lg font-medium text-gray-900"
        >
          <span class="my-auto mx-auto">For New Branch</span>
        </a>
      </div>

      <div
        class="mx-auto border-2 text-base w-[90%] x:w-[16rem] m:w-1/4 active:bg-slate-200 bg-orange-600 border-gray-200 border-opacity-60 rounded-lg py-3 px-6 overflow-hidden"
    >
        <a
          href="./nbaCurrentBranch.html"
          class="flex space-x-3 x:text-lg font-medium text-gray-900"
        >
          <span class="my-auto mx-auto">For Current Branches</span>
        </a>
      </div>

      <!-- Card 2 -->
      <div
        class="mx-auto border-2 text-base w-[90%] x:w-[16rem] m:w-1/ active:bg-slate-200 bg-orange-600 border-gray-200 border-opacity-60 rounded-lg py-3 px-6 overflow-hidden"
      >
        <a
          href="./nbaReapproval.html"
          class="flex space-x-3 x:text-lg font-medium text-gray-900"
        >
          <span class="my-auto mx-auto">For Reapproval</span>
        </a>
      </div>
    </div>
  </body>
</html>
