<!doctype html>
<html class="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

  <link rel="shortcut icon" type="image/x-icon"
    href="PT9PU8QQmZwP7znA/Rf1rprWrYqEU9Fr/X4ERbjB+Z56TTaU0lekYiUhpTSGgBDTTSmkNMBpptONNNAAKcKbSigB4pRTRTqAHZpabSg5pAOrS0LXbvw9qaXtk3zD5ZI2+7KndT/AI9jWZS1MoqS5ZbAnY980bxHa6zYx3tq+Yz95G+8jAZKt7/z61yHhH4jmfZYa5IBKTiK7bgP6K/of9rv39a4TRNcudDunltzujkQpLETw4wQD9Rng1m9gDyMV50MtgueMtna3dbm7rPRo9n8QSSafdprtoDviTyb6NeskGeGx/eQ8/TNeXeKNU/tfxJe3avujZ9sZ7FFG0foK1/DPjOSxVLLU2Mlr91JG5MY9D6r/L6Vk+JNJXS9Qzb/ADWc48yBgcjH93Pt/LFPC0vY1OWe9tH3QVHzRvEyKM0lFekYBTc0ppKAEppNKaaaYCGkoNFABQKKKAHA0oNNFOoAdSg02lFADgaWm0tIBc0UmaM0ALmrkOot9gexuMvbE7o/WJ/VfY9x/WqWaM0nFS3BNoWkzSGg0wEzRSUUwEJpppSaaaACiiigAooooAKUGkooAdSg03NLmgB2aWm5ozQA7NLTc0ZpAOpM0maTNADqTNJSZoAXNITRmm5pgLmkoooAKKKKACkpTwcUlAC0UUUAFFFFAC5pc0yloAdmjNNzRQA4mjNNozQAuaTNFFABRRRQAUUUUAFFFJQB/9k=">
  <title>Signup &bull; Sign Up</title>
  <link rel="stylesheet" href="../static/style.css">
  <style>
    .header {
      background-color: lightgray;
    }

    .myclass:hover {
      /* color */
      background-color: rgb(211, 211, 211);
    }
  </style>
</head>

<body>
  <div class="header">
    <header class="p-4 bg-slate-200">
      <img src="../static/aicte.1017085a.png" alt="" class="" />
    </header>
  </div>
  <div
    class="text-center  justify-center sm:mt-10 lg:w-[400px] sm:w-[339px]  xxs:mt-6 h-fit p-4 flex flex-col mx-auto rounded-lg xxs:w-[222px] xs:w-[240px] bg-orange-600">
    <span
      class="sm:text-5xl lg:text-6xl sm:mx-auto xxs:text-3xl l:text-2xl text-l text-white my-2 cursor-default font-custom">For
      Prediction</span>
    <hr>
    <form action="#" class="flex flex-col space-y-3 text-xxs">
      <select name="" id="" class="rounded-lg justify-center sm:text-sm lg:h-10 text-left text-xxs p-2 mt-8 " style="margin-bottom: 20px;">
        <option value="">Select State</option>
        <option value="">Delhi</option>
              <option value="">Punjab</option>
              <option value="">Rajasthan</option>
        <!--       <option value="">Tripura</option>
            
              <option value="">Rajasthan</option>
              <option value="">Meghalaya</option>
              <option value="">Mizoram</option>
              <option value="">Sikkim</option>
              <option value="">Chhattisgarh</option>
              <option value="">Uttarakhand</option>
              <option value="">Karnataka</option>
              <option value="">Jharkhand</option>
              <option value="">Nagaland</option>
              <option value="">Manipur</option>
              <option value="">Haryana</option>
              <option value="">Goa</option>
              <option value="">Himachal Pradesh</option>
              <option value="">Andhra Pradesh</option>
              <option value="">Madhya Pradesh</option>
              <option value="">Bihar</option>
              <option value="">Jammu and Kashmir</option>
              <option value="">Odisha</option>
              <option value="">Other</option>
              <option value="">Telangana</option>
              <option value="">Gujarat</option>
              <option value="">Punjab</option>
              <option value="">Tamil Nadu</option>
              <option value="">West Bengal</option>
              <option value="">Kerela</option> -->
      </select>

      <!-- <input type="text" name="" id="" placeholder="Enter College Name" class="rounded-lg justify-center sm:text-sm lg:h-10 text-left text-xxs p-2 mt-8 "> -->
      <input type="text" name="" id="" placeholder="Course"
        class="rounded-lg justify-center  sm:text-sm lg:h-10 text-left text-xxs mt-8 px-2 py-[3px] " style="margin-bottom: 20px;">

      <!-- <div class="text-lxb mx-auto mb-2 flex space-x-1 font-sans font-semibold xxs:text-xm sm:text-sm lg:text-md">
            <input type="checkbox" name="" id="" class="sm:mt-2 lg:mt-3">
            <span class="mt-[1px] sm:mt-1">Do You Have Any Social Media Account?</span>
          </div> -->
      <div class="mx-auto flex flex-row space-x-4">
        <input type="submit" value="Submit"
          class="myclass text-white hover:text-black  bg-black md:text-md md:w-9/12 font-semibold p-1 l:p-2 rounded-md">
        <span
          class="myclass hover:text-black text-white bg-black color-black rounded-md p-1 md:text-md l:p-2 font-semibold">
          <a href="#"></a>Cancel</span>
      </div>
    </form>
  </div>


</body>

</html>